html {
  font-size: 62.5%;
}
html, body {
  height: 100%;
}

.app {
  height: 100%;
  padding: 8px 13px;
  box-sizing: border-box;
}
.app-title {
  font-size: 3.0rem;
}

.properties {
  margin-top: 0.8rem; 
  list-style: none;
}
.property {
  display: flex;
  flex-flow: row wrap;
}
.property + .property {
  margin-top: 0.5rem;
}
.property-label {
  margin-right: 0.5rem;
  width: 9.0rem;
  font-size: 1.6rem;
}
.property-entry {
  width: 20.0rem;
  height: 2.0rem;
  font-size: 1.2rem;
  resize: none;
}
.property-button {
  width: 11.0rem;
  font-size: 1.6rem;
}

.result {
  height: 60%;
  margin-top: 2.1rem;
}
.result-caption {
  font-size: 2.4rem;
}
.result-text {
  width: 80%;
  height: 80%;
  font-size: 1.2rem;
  resize: none;
}
