html {
  font-size: 62.5%;
}
html, body {
  height: 100%;
}

.app {
  height: 100%;
  padding: 8px 13px;
  box-sizing: border-box;
}

.title {
  font-size: 3.0rem;
}

.src {
  margin-top: 0.8rem; 
}
.property-list {
  list-style: none;
}
.property-item {
  display: flex;
  flex-flow: row wrap;
}
.property-item + .property-item {
  margin-top: 0.5rem;
}
.label {
  margin-right: 0.5rem;
  width: 9.0rem;
  font-size: 1.6rem;
}
.input {
  width: 20.0rem;
  height: 2.0rem;
  font-size: 1.2rem;
  resize: none;
}
.generate {
  width: 11.0rem;
  font-size: 1.6rem;
}

.dst {
  height: 60%;
  margin-top: 2.1rem;
}
.caption {
  font-size: 2.4rem;
}
.result {
  width: 80%;
  height: 80%;
  font-size: 1.2rem;
  resize: none;
}
